<% form_tag 'userdaily/search' do -%>
  <fieldset>
    <table class="search_t">
      <tr>
        <td>日报搜索</td>
        <td><p><%= label_tag "d_create_at_start", l(:label_s_start) %><%= text_field_tag 'userdaily_d_create_at_start' %><%= calendar_for('userdaily_d_create_at_start') %></p></td>
        <td><p><%= label_tag "d_create_at_end", l(:label_s_end) %><%= text_field_tag 'userdaily_d_create_at_end' %><%= calendar_for('userdaily_d_create_at_end') %></p></td>
        <td><p><%= submit_tag l(:date_search) %></p></td>
      </tr>
    </table>
  </fieldset>

<% end -%>

<div id="list-zb" class="">
  <%= render :partial => 'userdaily/mlist'%>
</div>
<p><%= link_to l(:report_link_daily_back) ,:controller=>'report',:action => 'userindex' %></p>