<h2><%= l(:report_title_create_daily) %></h2>
<% if @done == nil %>


  <h1>昨天</h1>
  <% labelled_tabular_form_for :projdailyhead, @projdailyhead,
    :url => { :action => "create",:id => @projdailyhead.id },
    :html => { :class => nil, :multipart => true, :id => "projdailyhead-form" } do |form| %>
    <%= render :partial => 'form', :locals => { :f => form } %>
    <%= submit_tag l(:report_button_daily_create) %>
  <% end %>

<% else %>

  <h1>今天</h1>
  <% labelled_tabular_form_for :projdailyhead, @projdailyhead,
    :url => { :action => "create" },
    :html => { :class => nil, :multipart => true, :id => "projdailyhead-form" } do |form| %>
    <%= render :partial => 'form', :locals => { :f => form } %>
    <%= submit_tag l(:report_button_daily_create) %>
  <% end %>
<% end %>