<table>
  <tr>
    <th>提交人</th>
    <th>提交时间</th>
    <th>工作内容</th>
    <th>困难帮助</th>
    <th>明天计划</th>
    <th>建议</th>
    <th>操作</th>
  </tr>

  <% @userdailes.each do |userdaily| %>
    <div id="userdaily">
      <% if User.current.id == userdaily.user_id %>
        <tr>
          <td class ="d_name">
            <div class="wiki">
              <%= textilizable userdaily.user_name, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_weekly">
            <div class="wiki">
              <%= textilizable userdaily.create_weekly, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_work">
            <div class="wiki">
              <%= textilizable userdaily.ud_work, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_probles">
            <div class="wiki">
              <%= textilizable userdaily.ud_probles, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_plan">
            <div class="wiki">
              <%= textilizable userdaily.ud_plan, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_proposal">
            <div class="wiki">
              <%= textilizable userdaily.ud_proposal, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_zc"><%= link_to"查看", { :controller => 'userdaily', :action => 'show', :id => userdaily.id } %> | <%= link_to"编辑",{ :controller => 'userdaily',:action => 'edit', :id => userdaily.id } %></td>
        </tr>

      <% else %>

        <tr>
          <td class ="d_name">
            <div class="wiki">
              <%= textilizable userdaily.user_name, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_weekly">
            <div class="wiki">
              <%= textilizable userdaily.create_weekly, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_work">
            <div class="wiki">
              <%= textilizable userdaily.ud_work, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_probles">
            <div class="wiki">
              <%= textilizable userdaily.ud_probles, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_plan">
            <div class="wiki">
              <%= textilizable userdaily.ud_plan, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_proposal">
            <div class="wiki">
              <%= textilizable userdaily.ud_proposal, :object => @userdailes %>
            </div>
          </td>
          <td class ="d_zc"><%= link_to"查看", { :controller => 'userdaily', :action => 'show', :id => userdaily.id } %></td>
        </tr>
      <% end %>
    </div>

  <% end %>
</table>